.main {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.main p {
  padding: 0;
  margin: 0;
}

.name {
  font-size: 2rem;
  grid-column: 1;
  grid-row: 1;
}

.notification {
  font-size: 2rem;
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
}

.time {
  font-family: TorusLight;
  font-size: 1.7rem;
  grid-column: 2;
  grid-row: 2;
  justify-self: flex-end;
}

.message {
  font-family: TorusLight;
  font-size: 1.7rem;
  grid-column: 1;
  grid-row: 2;
}