.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.main p {
  padding: 0;
  margin: 0;
}

.name {
  font-size: 2rem;
  grid-column: 1;
  grid-row: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification {
  font-size: 2rem;
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
  margin-right: 2rem;
}

.time {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 1.7rem;
  grid-column: 2;
  grid-row: 2;
  justify-self: flex-end;
}

.message {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 1.7rem;
  grid-column: 1;
  grid-row: 2;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}